CLOVER_BASE_URL=
CLOVER_OAUTH_BASE_URL=
CLOVER_APP_ID=
CLOVER_APP_SECRET=
CLOVER_ACCESS_TOKEN=
CLOVER_MERCHANT_ID=
CLOVER_REDIRECT_URI=
CLOVER_PAYMENT_SOURCE_TOKEN=
CLOVER_TOKEN_BASE_URL=
CLOVER_ECOMM_PUBLIC_TOKEN=
CLOVER_ECOMM_PRIVATE_TOKEN=
