CLOVER_BASE_URL=
CLOVER_APP_ID=
CLOVER_APP_SECRET=
CLOVER_REDIRECT_URI=
CLOVER_TOKEN_BASE_URL=
CLOVER_ECOMM_PUBLIC_TOKEN=
CLOVER_ECOMM_PRIVATE_TOKEN=
CLOVER_OAUTH_AUTHORIZE_URL=
CLOVER_OAUTH_API_URL=
